.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 1350px;
}

.contentWrapper {
    padding: 16px
}

.searchTerm {
    color: rgb(136, 153, 170);
    margin-left: 20px;
}

.searchLabel {
    font-size: 49px;
    line-height: 1.2;
    font-weight: 200;
    color: #345;
    margin-bottom: 32px;
}

.columnsWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}