
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 1350px;
}

.contentWrapper {
    padding: 16px
}

.searchTerm {
    color: rgb(136, 153, 170);
    font-weight: 200;
    margin-left: 20px;
    border: none;
    background: none;
    cursor: text;
    font-size: 45px;
    width: 800px

}

.searchTerm:focus{
    outline: none;
}

.searchTerm::placeholder {
    color: rgb(184, 187, 189);
}

.searchLabel {
    font-size: 45px;
    line-height: 1.2;
    font-weight: 200;
    color: #345;
    margin-bottom: 32px;
}

.columnsWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}