.wrapper {
    background: #fff;
    box-shadow: 0 6px 8px rgb(85 102 119 / 3%), 0 1px 1px rgb(85 102 119 / 40%);
    display: flex;
    height: 64px;
    align-items: center;
    cursor: text; 
}

.prefix {
    display: block;
    color: rgba(85,102,119,.5);
    font-weight: 400;
    user-select: none;
    line-height: 1.5em;
    padding: 2px 8px;
    border-radius: 3px;
    background: rgba(241,243,245,.5);
    margin: 0 0 0 16px;
    box-shadow: 0 1px 1px rgb(85 102 119 / 25%);
    font-size: 14px;
}

.sep {
    font-size: 19px; 
    color: rgba(85,102,119,.5);
    margin: 0 8px;
}


.input {
    font-size: 19px;
    padding: 16px;
    height: 64px;
    background: 0 0;
    border: 0;
    flex: 1 1 auto;
    padding-left: 0;
    font-weight: 700;
    color: #111;
    width: 300px;
    font-weight: 200;

}

.input:focus {
    outline: none;
}

.icon:hover  {
    background: blue;
    padding: 4px;
}